<!--<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1">List View</a></li>
  <li class="tab-title"><a href="#panel2">Map View</a></li>
</ul>-->
<div class="row">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#list">List View</a></li>
    <li id="map-tab" class="tab-title"><a href="#map">Map View</a></li>
    <li id="map-tab" class="tab-title"><a href="#new">New Project</a></li>
  </ul>
</div>
<div class="row tabs-content">
  <div class="content active" id="list">
    <%= render partial: "list_view" %>
  </div>
  <div class="content" id="map">
    <%= render partial: "map" %>
  </div>
  <div class="content" id="new">
    <%= render partial: "new" %>
  </div>
</div>

<%#= javascript_include_tag 'createIndexMap' %>
