//color definitions
$black: #2a2d34;
$background-greenish: #eff0dc;
$brick: #ad4026;
$brick-hover: #6e2918;
$beige: #d9ab54;
$light-beige: #f9f3e6;
$light-grey: #ECEBE8;
$unhover-grey: #f7f9f9;
$white: #fff;
$background-grey: #cccccc;
$dark-grey: #888;
$flash-color: rgb(238, 185, 72);

$wide-row-width: 100rem;


/*****************************************
General
*****************************************/
#background-img {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.flash-notice {
  background-color: $flash-color;
  text-align: center;
  font-size: 1.4rem;
}


body {
  background-color: $light-beige;
}

.button {
  background-color: $brick;
}

.button:hover {
  background-color: $brick-hover;
}

#new-project-wrapper {
  text-align: center;
}

#new-project-table {
  margin: 0 auto;
}
/*****************************************
Projects Index
*****************************************/
.project-wrapper {
  background-color: $unhover-grey;
  border: 1px solid $black;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.project-wrapper:hover {
  background-color: $white;
}

.project-index-title {
  text-align: center;
  color: $brick;
  border-radius: 5px;
}

.project-index-title h2 {
  color: $brick;
}

.tabs {
  margin-top: 1rem;
}

.tabs-content {
  width: 33%;
  border: 1px solid $black;
  background-color: $light-beige;
  margin-bottom: 3rem;
}

.tab-title {
  border: 1px solid $black;
  border-bottom: none;
}

#map-canvas {
  width: 100%;
  max-width: $wide-row-width;
  height: 40rem;
}

.index-search-wrapper {
  background-color: $unhover-grey;
  border: 1px solid $dark-grey;
  border-left: none;
}

#show-search-btn {
  margin-left: 1rem;
}

#map-canvas {
  margin: 0 auto;
}

#choose-coords-map-wrapper {
  display: none;
}

#choose-coords-map-wrapper h2{
  text-align: center;
}

#choose-coords-map {
  width: 100%;
  height: 30rem;
}

.pagination span {
  min-height: 3rem;
  min-width: 4rem;
  background-color: $brick;
  text-color: $background-grey;
  text-decoration: none;
  margin-right: 1rem;
}

.pagination span a {
  color: #fff;
  height: 4rem;
}
/*****************************************
Projects Show
*****************************************/
#show-link-wrapper {
  margin-top: 2rem;
}

#show-project-wrapper {
  background-color: rgb(250,250,250);
  padding-bottom: 4rem;
}

.show-content-wrapper {
  margin-top: 2rem;
  background-color: rgb(240,240,240);
}

#basic-info-wrapper {
  background-color: $white;
  width: 100%;
  padding-bottom: 2rem;
}

#basic-text-wrapper {
  margin-left: 6%;
}

#show-project-title {
  text-align: center;
}

#editor {
  height: 30rem;
  background-color: #f6f6f6;
}

#editor-wrapper {
  margin-top: 3rem;
}

.edit-controls {
  margin-left: 3.5%;
  margin-top: 1rem;
}

.btn-delete {
  float: right;
  margin-right: 7%;
}

.delete-text-area-button {
  float: right;
}

.text-area {
  margin-top: 3rem;
  width: 90%;
  margin-left: 3.4%;
}

.ql-align {
  max-width: 5rem;
}

.show-img {
  max-width: 90%;
  margin: 0 auto;
  margin-left: 5%;
}

.caption {
  width: 90%;
  margin: 0 auto;
  margin-top: .2rem;
}

.content-title {
  text-align: center;
  font-weight: 500;
}

.show-map {
  height: 35rem;
}

#add-content-bar {
  margin-top: 1rem;
}

.btn-right {
  border-left: 1px solid $brick-hover;
}

.delete-text-area-button {
  margin-left: 1em;
}

.project-map {
  width: 90%;
  height: 35rem;
  margin: 0 auto;
}

/*****************************************
New Map Page
*****************************************/
#new-map-canvas {
  height: 35rem;
  width: 100%;
}

/*****************************************
New/Edit Photo Pages
*****************************************/
#photo_image {

}

.back-btn {
  margin-top: 1rem;
}

/*****************************************
Edit project page
*****************************************/

#edit-project-wrapper {
 text-align: center;
 margin: 0 auto;
}

#edit-project-table {
  margin: 0 auto;
}

#edit-back-btn {
  float: left;
}

#delete-proj-btn {
  float: right;
}

#edit-btn-wrapper {
  width: 100%;
  display: block;
  min-height: 3.1rem;
}

#edit-title {
  display: block;
}
