// mobile only stylesheet

@media (max-width: 40em) {
  .devise-text-field {
    height: 5rem;
  }

  #user_email {
    height: 10em;
  }
  /***************************
  General
  ***************************/
  #background-img {
    display: none;
  }

  /***************************
  Index Page
  ***************************/
  .tabs {
    margin-top: 0;
  }

  .index-search-wrapper {
    display: none;
  }

  /***************************
  Projects Show Page
  ***************************/
  #show-link-wrapper {
    margin: 0;
    padding: none;
  }

  .nav-btn-wrapper {
    width: 33%;
    margin: 0 auto;
  }

}
